<!DOCTYPE html>
<html lang="en" ng-app="meltdownApp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meltdown Belote</title>
		<link rel="stylesheet" href="/styles.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="account.js"></script>
	</head>
	<body ng-controller="AccountCtrl as ctrl">
        <form ng-submit="ctrl.changeUserPassword()">
            <h2>Changement de mot de passe</h2>
            <label>Ancien mot de passe:</label>
			<input type="password" ng-model="ctrl.oldPassword" placeholder="Ton ostie de mot de passe" required />
            <label>Mot de passe:</label>
			<input type="password" ng-model="ctrl.newPassword" placeholder="Ton ostie de nouveau mot de passe" required />
            <input type="password" ng-model="ctrl.newPasswordTwo" placeholder="Securité de tu n'as pas fait d'osti de calisse de marde" required />
            <h2 class="error" ng-if="ctrl.passwordChangeError">Bad old password</h2>
			<button type="submit" ng-disabled="!ctrl.oldPassword || !ctrl.newPassword || !ctrl.newPasswordTwo || ctrl.newPassword != ctrl.newPasswordTwo">Je reset mon password</button>
		</form>
        <form ng-submit="ctrl.resetUserPassword()" ng-if="ctrl.user.admin">
            <h2>Changement de mot de passe d'un gars qui a perdu son mdp</h2>
			<input type="text" ng-model="ctrl.pseudo" placeholder="Pseudo du joueur" required />
            <input type="password" ng-model="ctrl.newPassword" placeholder="Nouveau password du joueur" required />
            <h2 class="error" ng-if="ctrl.userPasswordResetChangeError">Bad user pseudo</h2>
			<button type="submit" ng-disabled="!ctrl.pseudo">Je change le mdp de {{ctrl.pseudo}}</button>
		</form>
        <div class="links-container">
            <a href="/">Index</a>
        </div>
    </body>
</html>
