<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meltdown backend</title>
		<link rel="stylesheet" href="/styles.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="index_backend.js"></script>
	</head>

	<body ng-app="meltdownAdmin" ng-controller="AdminCtrl as vm">
		<div class="button_container_admin">
			<button class="secondary_background" id="clear_tables" type="button" ng-click="vm.clearTables()">Clear tables</button>
			<button class="secondary_background" id="generate_tables" type="button" ng-click="vm.generateTables()">Distribute Tables</button>
			<button class="secondary_background" id="reshuffle_tables" type="button" ng-click="vm.reshuffleTables()">Reshuffle Tables</button>
			<button class="secondary_background" id="notify_all" type="button" ng-click="vm.notifyAll()">Notify all</button>
		</div>
		<div id="tables" ng-repeat="table in vm.tables">
			<div class="table_ready_status">
				<div class="table_ready_status">{{table.name}} : ({{table.readyCount}} / {{table.users.length}} ready)</div>
				<button ng-click="vm.changeReadyState(table.id, true)">Ready</button>
				<button ng-click="vm.changeReadyState(table.id, false)">Not Ready</button>
				<button ng-click="vm.tableDelete(table.id)" ng-if="!table.panama">Delete</button>
			</div>
			<table class="tables">
				<thead>
					<tr>
						<th>Joueur</th>
						<th ng-if="!table.panama">Equipe</th>
						<th>Tarot</th>
						<th>Deux tables</th>
						<th>Prêt</th>
						<th ng-if="!table.panama">Fini</th>
						<th ng-if="table.panama">Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in table.users">
						<td ng-style="{'color': user.ready ? '#006400' : '#FF8C00'}">{{user.pseudo}}</td>
						<td ng-if="!table.panama"><span ng-style="{ color: user.team }" style="margin-right: 3px">{{user.team}}</span></td>
						<td ng-if="!user.canPlayTarot" ng-click="vm.canPlayTarot(user.pseudo, true)" style="cursor: pointer">❌</td>
						<td ng-if="user.canPlayTarot" ng-click="vm.canPlayTarot(user.pseudo, false)" style="cursor: pointer">✅</td>
						<td ng-if="!user.canPlayTwoTables" ng-click="vm.canPlayTwoTables(user.pseudo, true)" style="cursor: pointer">❌</td>
						<td ng-if="user.canPlayTwoTables" ng-click="vm.canPlayTwoTables(user.pseudo, false)" style="cursor: pointer">✅</td>
						<td ng-if="!user.ready" ng-click="vm.ready(user.pseudo, true)" style="cursor: pointer">❌</td>
						<td ng-if="user.ready" ng-click="vm.ready(user.pseudo, false)" style="cursor: pointer">✅</td>
						<td ng-if="!table.panama" ng-click="vm.tableFinished(table.id,user.team)" style="cursor: pointer">🏁</td>
						<td ng-if="table.panama" ng-click="vm.userDelete(user.pseudo)" style="cursor: pointer">🚮</td>
					</tr>
				</tbody>
			</table>
		</div>
		<a href="/">Frontend</a>
		<br />
	</body>
</html>
